<template>
  <div class="container my-5">
  <div class="card shadow" style="width: 20rem;">
    <div class="card-header p-0">
      <img src="https://media.discordapp.net/attachments/936604584460296205/1195985964577849455/image0.gif?ex=65b5fbba&is=65a386ba&hm=94ad45115515f8db795455e8bf8f8c4996cc28e82a2be6aa48b75135fa088dd4&" 
      class="card-img-top" alt="Orange cat">
    </div>
  <div class="card-body">
    <h5 class="card-title">About Page</h5>
    <p class="card-text">This is an About Page</p>
    <a href="#" class="btn btn-primary btn-sm">Read.</a>
  </div>
  </div>
  
</div>
</template>