<script setup>

</script>

<template>
  <div class="container my-5">
  <div class="card shadow" style="width: 20rem;">
    <div class="card-header p-0">
      <img src="https://media1.tenor.com/m/7BErTr3oA_kAAAAd/cat-cats.gif" class="card-img-top" alt="Orange cat">
    </div>
  <div class="card-body">
    <h5 class="card-title">Home Page</h5>
    <p class="card-text">This is a Home Page</p>
    <a href="#" class="btn btn-primary btn-sm">Read.</a>
  </div>
  </div>
  
</div>
</template>
