<script setup>
import { RouterLink, RouterView } from 'vue-router';
import NavBar from '@/views/layout/NavBar.vue'
import FooterView from '@/views/layout/FooterView.vue';

</script>

<template>
  <nav-bar />
  <router-view />
  <footer-view />
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
.navbar{
  font-family: 'Sarabun', sans-serif;
}

</style>